@keyframes slideIn {
  from {
    transform: translateX(100%); /* Start off-screen to the right */
    opacity: 0; /* Start fully transparent */
  }
  to {
    transform: translateX(0); /* Move to the center */
    opacity: 1; /* Fully visible */
  }
}

.container {
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/images/theme.png'); /* Accessing from public/images */
  background-size: cover;
  background-position: center;
  animation: slideIn 1.5s ease-in-out; /* Longer duration and smoother easing */
}

.logo {
  width: 300px;
  max-width: 100%;
  height: auto;
}